<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <title>Saída</title>
</head>
<body>
    <header>
        <h1>InsertLogo</h1>
    </header>

    <main>
        <p id="output_msg">Logos inseridos com sucesso.</p>
    </main>

    <footer>
        <p>Made by Danilo Dias</p>
        <img src="../static/img/myicon.webp" alt="">
    </footer>
</body>
</html>